<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HBNB</title>
  </head>
  <body>
    {% if cities is not none %}
    <h1> State: {{ states }}</h1>
    <h3> Cities:</h3>
    <ul>
      {% for list in cities|sort(attribute=1) %}
     <li> {{ list[0] }}: <B>{{ list[1] }}</B></li>
     {% endfor %}
     </ul>
    {% endif %}
    {% if id is none %}
    <h1> States</h1>
     <ul>
       {% for state in states|sort(attribute=1) %}
            <li> {{ state[0] }}: <B>{{ state[1] }}</B></li>
       {% endfor %}
      </ul>
     {% endif %}
      {% if states is none %}
     <h1> Not found!</h1>
     {% endif %}
  </body>
</html>
